<div class="main top-main">
  <div class="top-message">
    <h2>県大クロバス</h2>
    <p>~学校生活をみんなで便利に~</p><br>
    <p>学内で使える履修クチコミサイト</p>
    <p>公式の履修情報が見づらいという、友達との雑談から生まれたサイトです</p><br>

    <p>サイト機能</p>
    <h3>・学科や学期ごとに、必要な授業が何かわかる</h3><br>
    <h3>・教科書購入へのリンクにすぐ飛べる</h3><br>
    <h3>・公式では分からない、授業の雰囲気やテストの難易度などが口コミでわかる</h3><br>

    <p>現在のGoogle Analiticsデータ</p>
    <h3>・ユーザー数290人</h3>
    <h3>・PV数1580</h3>

    <p>これから追加したい機能</p>
    <h3>・いいねが多い順に口コミを表示したい</h3><br>
    <h3>・教科ごとにレーダーチャートを表示して、視覚的に評価が分かるようにしたい</h3><br>
    <h3>・ソーシャルログイン機能を取り入れたい</h3><br>
    


  </div>
</div>